.list-group{
    height: 33%
    max-width: 30%
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.container {
  margin-top: 1%;
  height: 75%;
  overflow-y: scroll;
}

body{
  height: auto;
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 97.5%;
  width: 100%;
}
